body {
  background-color: #E27D60;
}

button {
  width: 32%;
  padding: 12px 8px;
  border: none;
  border-radius: 2.5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 1em;
  background-color: #41B3A9;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
}